@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #05937b;
}

.slider {
  position: relative;
  background: #b5fff1;
  width: 133.7vh;
  min-height: 66.84vh;
  margin: 2.67vh;
  overflow: hidden;
  border-radius: 1.34vh;
  display: flex;
  border: 0.3vh solid #ffffff;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img{
  position: absolute;
    object-fit: contain;
    /* transform: rotateZ(-14deg); */
    border: 2vh solid #18937c70;
    border-radius: 0 0 1vh 0;
    box-shadow: 0 0 0 3vh #18937c1f;
    left: -2vh;
}

.slider .slide .info{
  position: absolute;
  color: #ffffff;
  background: rgb(74 79 80 / 91%);
  width: 36%;
  right: 12.22vh;
  top: 24vh;
  padding: 2.22vh;
  border-radius: 0.69vh;
  box-shadow: 1vh 1.1vh 0vh 0px rgb(23 114 99 / 35%);
  text-align: center;
  border: 0.3vh solid #ffffff;
}

.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
}

.slider .slide .info p{
  font-size: 1em;
  font-weight: 400;
}

.navigation{
  height: 41.67vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 1.34vh;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev-btn{
  border-top-right-radius: 0.4vh;
  border-bottom-right-radius: 0.4vh;
  left: 0;
}

.next-btn{
  border-top-left-radius: 0.4vh;
  border-bottom-left-radius: 0.4vh;
  right: 0;
}

.navigation-visibility{
  z-index: 999;
    position: absolute;
    bottom: 2.67vh;
    left: 92%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index: 999;
    background: rgb(5 28 23 / 56%);
    width: 2.67vh;
    height: 1.34vh;
    margin: 0 0.8vh;
    border-radius: 0.27vh;
    box-shadow: 0 0.69vh 3.34vh rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #ffffff;
  box-shadow: 0vh 0vh 1.4vh 0.2vh #036856ad;
}


/* Boton para visitar iniciativas */
.button{
  background-color: #0e7262;
    color: white;
    padding: 0.2vh 2vh;
    text-align: center;
    border-radius: 0.69vh;
    text-decoration: none;
    position: absolute;
    width: 19vh;
    top: 15.3vh;
    left: 32.4vh;
    height: 6vh;
    font-size: 16px;
    border: 0.3vh solid #ffffff;
}

.button p{
  margin-top: 1.5vh;
  font-size: 1em;
  font-weight: 400;
}

.button:hover {
  background-color: #ffffff; 
  color: #0e7262;
}
.button {
  transition-duration: 0.4s;
}

@media (max-width: 900px) {
  .slider{
    height: 40%;
  }
  .slider .slide {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .slider .slide .info h2{
    font-size: 1em;
    line-height: 17px;
  }

  .slider .slide .info p{
    justify-content: center;
    font-size: 0.8em;
  }
  .slider .slide img {
    position: relative;
    width: 50%;
    align-items: center;
    height: 50%;
    margin-bottom: 20px;
  }

  .slider .slide .info {
    position: relative;
    width: 40%;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
  }
}

@media (max-width: 540px){
  .slider .slide .info h2{
    font-size: 0.7em;
    line-height: 10px;
  }

  .slider .slide .info p{
    font-size: 0.4em;
  }
}
