@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #19989D;
}

.slider {
  position: relative;
  background: #000000;
  top: 5vh;
  width: -webkit-fill-available;
  min-height: 88.84vh;
  overflow: hidden;
  display: flex;
}

.column-slider{
  position: absolute;
}

.column-slider img {
  position: absolute;
    display: block;
    z-index: 0;
    width: 22vh;
}
/*QUE PASO CHAPOOOO PIPIPIPIPIPI*/
.wave-slider{
  position: absolute;
}

.wave-slider img{
  display: block;
  position: absolute;
  top: 29vh;
  left: 16vh;
  width: 162vh;
}


.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img{
  position: absolute;
    width: 102.4%;
    height: 134%;
    filter: blur(0.3vh);
    opacity: 42.7%;
    object-fit: cover;
}


.slider .slide .info{
  position: absolute;
  color: #071013;
  background: #EDF4ED;
  width: 57.7vh;
  z-index: 20;
  right: 87.62vh;
  top: 1.3vh;
  padding-top: 10.72vh;
  padding-right: 3.22vh;
  padding-bottom: 2.22vh;
  padding-left: 3.22vh;
  border-radius: 0.69vh;
  text-align: left;
}


.slider .slide .info p{
  font-size: 1.8vh;
  font-weight: 400;
}

.navigation{
  height: 41.67vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 3.6vh;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 1.34vh;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev-btn{
  border-top-right-radius: 0.4vh;
  border-bottom-right-radius: 0.4vh;
  left: 0;
}

.next-btn{
  border-top-left-radius: 0.4vh;
  border-bottom-left-radius: 0.4vh;
  right: 0;
}

.navigation-visibility{
  z-index: 999;
  position: absolute;
  bottom: 2.67vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 2.67vh;
  height: 1.34vh;
  margin: 0 0.8vh;
  border-radius: 0.27vh;
  box-shadow: 0 0.69vh 3.34vh rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #4285F4;
}

/* Boton para visitar iniciativas */
.button{
  color: #d96c06;
  text-align: left;
  left: -142.7vh;
  z-index: 21;
  position: absolute;
  top: 4.1vh;
  text-decoration: none;
  display: inline-block;
  font-size: 2.8vh;
}

.data{
  position: absolute;
  display: block;
  top: 3vh;
  left: 157.7vh;
  height: auto;
  width: auto;
  border: white;
}

.button p{
  font-size: 1.8vh;
  padding: 1vh 0.2vh;
  font-weight: 400;
}


@media (max-width: 94vh) {
  .slider{
    height: 40%;
  }
  .slider .slide {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .slider .slide .info p{
    justify-content: center;
    font-size: 1.6vh;
  }
  .slider .slide img {
    position: relative;
    width: 80%;
    align-items: center;
    height: 50%;
    margin-bottom: 2vh;
  }

  .slider .slide .info {
    position: relative;
    width: 73%;
    text-align: center;
    margin-bottom: 0.5vh;
    padding: 0.5vh;
  }
}

@media (max-width: 56vh){

  .slider .slide .info p{
    font-size: 1.4vh;
  }
}
