{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>SansaNews</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'engine1/style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'molde/css/slider.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'navstyle.css' %}" />
    <script
      type="text/javascript"
      src="{% static 'engine1/jquery.js' %}"
    ></script>
    <link
      rel="icon"
      href="{% static 'icons/sansanews.png' %}"
      type="image/icon type"
    />

    <style>
      /* Modify the background color */

      .navbar-custom {
        background-color: #002d40;
      }

      /* Modify brand and text color */

      .navbar-custom .navbar-brand,
      .navbar-custom .navbar-text {
        color: rgb(255, 255, 255);
      }
    </style>
  </head>

  <body>
    <header>
      <div class="container">
        <div></div>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
          <div class="container-fluid">
            <img
              src="{% static 'logo.png' %}"
              alt="Logo"
              width="407"
              height="106"
              class="d-inline-block align-text-top"
            />
          </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" href="/SansaNews/Home">Home</a>
                <a class="nav-link" href="/SansaNews/Home">Iniciativas</a>
                <a class="nav-link" href="/SansaNews/Avisos">Avisos</a>
                <a class="nav-link active" aria-current="page" href="/SansaNews/Home/about-us">About us</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <br />
    <br />


    <section id="hero">
        <h1>Acerca del Proyecto</h1>
    </section>
    

    <div id="wowslider-container1">
        <div class="ws_images"><ul>
            <li><img src="{% static 'about/1.png' %}" alt="1" title="1" id="wows1_0"/></li>
            <li><img src="{% static 'about/2.png' %}" alt="2" title="2" id="wows1_1"/></li>
            <li><img src="{% static 'about/3.png' %}" alt="3" title="3" id="wows1_2"/></li>
            <li><img src="{% static 'about/4.png' %}" alt="4" title="4" id="wows1_3"/></li>
            <li><img src="{% static 'about/5.png' %}" alt="5" title="5" id="wows1_4"/></li>
            <li><img src="{% static 'about/6.png' %}" alt="6" title="6" id="wows1_5"/></li>
        </ul></div>
        <div class="ws_bullets"><div>
            <a href="#wows1_0" title="1"><span>1</span></a>
            <a href="#wows1_1" title="2"><span>2</span></a>
            <a href="#wows1_2" title="3"><span>3</span></a>
            <a href="#wows1_3" title="4"><span>4</span></a>
            <a href="#wows1_4" title="5"><span>5</span></a>
            <a href="#wows1_5" title="6"><span>6</span></a>
        </div></div>
        <div class="ws_shadow"></div>
        </div>	
        <script type="text/javascript" src="{% static 'engine2/wowslider.js' %}"></script>
        <script type="text/javascript" src="{% static 'engine2/script.js' %}"></script>
    <br />
    <br />


    <footer class="text-muted py-5" style="background: #002d40">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Volver arriba</a>
          </p>
          <p class="mb-1" style="color: #d2d7da">
            SansaNews es un proyecto universitario sin fines de lucro y con
            mucho esfuerzo, sudor y lagrimas por detrás.
          </p>
          <p class="mb-0" style="color: #d2d7da">
            ¡Siguenos en nuestro
            <a href="https://www.instagram.com/sansanews/" target="_blank"
              >Instagram</a
            >
            oficial!
          </p>
        </div>
    </footer>


  </body>