{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		SansaNews	
	</title>
  <link rel="stylesheet" href="{% static 'index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'molde/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'molde/css/slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'molde/css/slider.css' %}" />
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style = "background: #011c27;">
<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container-fluid">
            <img src="{% static 'logo.png' %}" alt="Logo" width="407" height="106"
                class="d-inline-block align-text-center">
        </div>
    </nav>
          <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
              <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                      aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                          <a class="nav-link active" aria-current="page" href="/SansaNews/Home">Home</a>
                          <a class="nav-link" href="/SansaNews/Home">Iniciativas</a>
                          <a class="nav-link" href="/SansaNews/Avisos">Avisos</a>
                      </div>
                  </div>
                </div>
          </nav>
  </div>
</header>

		<center>
			<div style="width: 50rem; height: 5rem;"></div>
			<div style="width: 50rem; height: 8rem;">
				<h1 style="color: #d2d7da">
					Avisos
				</h1>
			</div>
		</center>

  {% for lista in key  %}
    <center>
        <div class="card mb-3" style="width: 50rem;">
            <center>
                <div class="card mb-3" style="width: 50rem; ">
                <h3 class="card-header" style="height: 3rem; background: rgba(0,0,0,0.5); color: #d2d7da">Publicación</h3>
            </center>
            <div>
                <img src="{% static lista.url %}" class="image-item"height="400"/>
            </div>
            <div>
                <h4><button>{{ lista.descripcion }}</button></h4>
            </div>
        </div>
    </center>
  {% endfor %}

  <footer class="text-muted py-5" style="background: #002d40;">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Volver arriba</a>
      </p>
      <p class="mb-1" style="color: #d2d7da">SansaNews es un proyecto universitario sin fines de lucro y con mucho esfuerzo, sudor y lagrimas por detrás.</p>
      <p class="mb-0" style="color: #d2d7da">¡Siguenos en nuestro <a href="https://www.instagram.com/sansanews/">Instagram</a> oficial!</p>
    </div>
  </footer>

</body>
</html>