{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>SansaNews</title>
    <meta charset="UTF-8" />
    <link rel="icon" href="{% static 'iniciativas/icons/sansanews.jpg' %}" type="image/icon type"/>
    <script type="text/javascript" src="{% static 'engine1/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'engine1/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'molde/css/slider.css' %}"/>
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'navstyle.css' %}" />

  </head>

  <body>

    {% block base %} {% endblock base %}

  </body>
</html>
