{% extends 'Molde.html' %}
{% load static %}
{% block content %}
<background>
  <center>
      <img src="{%static 'icons/ceinf.jpg' %}"width="300" height="300">
  </center>
</background>
<div class="card-body" style="color: #d2d7da">
  <h4 class="card-title"><a href="https://www.instagram.com/ceeinf_sj/" target="_blank">CEEINF</a></h4>
  <p class="card-text">ℹ️ Visita nuestro drive y entérate de todas las iniciativas y avances.
    Email de contacto: mesa.directiva@ceeinf.cl
    linktr.ee/ceeinf_sj</p>
</div>
{% endblock %}
  