{% extends 'Molde.html' %}
{% load static %}
{% block content %}
<background>
  <center>
      <img src="{%static 'icons/fablab.jpg' %}"width="300" height="300">
  </center>
</background>
<div class="card-body" style="color: #d2d7da">
  <h4 class="card-title"><a href="https://www.instagram.com/fablab_utfsm/" target="_blank">FabLab</a></h4>
  <p class="card-text">11am - 18:30pm / Lu - Vi
    Un lugar para avanzar
    ⬇️Link a nuestras plataformas⬇️
    linktr.ee/fablab_utfsm</p>
</div>
{% endblock %}