{% extends 'Molde.html' %}
{% load static %}
{% block content %}
<background>
    <center>
        <img src="{%static 'icons/gbu.jpg' %}"width="300" height="300">
  </center>
</background>
<div class="card-body" style="color: #d2d7da">
    <h4 class="card-title"><a href="https://www.instagram.com/gbu_usm/" target="_blank">GBU</a></h4>
    <p class="card-text">【📖】ɢʀᴜᴘᴏ ʙɪʙʟɪᴄᴏ ᴜɴɪᴠᴇʀꜱɪᴛᴀʀɪᴏ
      – 𝑺𝒐𝒎𝒐𝒔 𝒖𝒏 𝒎𝒐𝒗𝒊𝒎𝒊𝒆𝒏𝒕𝒐, 𝒖𝒏𝒂 𝒄𝒐𝒎𝒖𝒏𝒊𝒅𝒂𝒅, 𝒖𝒏𝒂 𝒐𝒓𝒈𝒂𝒏𝒊𝒛𝒂𝒄𝒊𝒐𝒏 𝒚 𝒖𝒏𝒂 𝒇𝒂𝒎𝒊𝒍𝒊𝒂 –
      Escríbenos al DM para unirte a nuestro núcleo
      gbuch.cl</p>
</div>
{% endblock %}