{% load static %}
<!DOCTYPE html>
<html lang="es">
<body bgcolor="#011c27"
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"
    <title></title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'molde/css/slider.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">sansanews</p>
            <nav>
                <a href="#">Fablab</a>
                <a href="#">entretencion</a>
                <a href="#">estudio</a>
            </nav>
        </div>
    </header>

    <section id="hero">
        <h1>Noticias más recientes de la semana</h1>

    </section>

    <div class="container-slider">
        <div class ="slider_4" id ="slider_4">
          <div class="slider__section">
          <img src="{% static 'sansanews/2022-11-02_00-51-24_UTC.jpg' %}" class="slider__img">
          </div>
          <div class="slider__section">
          <img src="{% static 'sansanews/2022-11-02_00-51-24_UTC.jpg' %}" class="slider__img">
          </div>
          <div class="slider__section">
          <img src="{% static 'sansanews/2022-11-02_01-03-06_UTC.jpg' %}" class="slider__img">
          </div>
          <div class="slider__section">
          <img src="{% static 'sansanews/2022-11-02_00-51-24_UTC.jpg' %}" class="slider__img">
          </div>
        </div>
        <div class="slider__btn slider__btn--right" id ="btn-right">&#62;</div>
        <div class="slider__btn slider__btn--left"  id ="btn-left">&#60;</div>
      </div>

    <center>
        <section>
            <section id="Iniciativas-Estudiantiles">
                <h2>Iniciativas estudiantiles</h2>
                <div class="fotos">
                    <div class="row">
                        <div class="carta">
                            <h3>Fablab</h3>
                            <p>

                            </p>
                         <button>Más Informacion</button>
                        </div>
                        <div class="carta">
                            <h3>GeekUSM</h3>
                            <p>

                            </p>
                            <button>Más Informacion</button>
                     </div>
                     <div class="carta">
                            <h3>CEEINF</h3>
                            <p>

                            </p>
                            <button>Más Informacion</button>
                        </div>
                    </div>
                </div>

            </section>
        </section>
    </center>
    <script src="{% static 'molde/js/slider.js' %}"></script>
</body>
</html>