
{% extends 'base.html' %}

{% load static %}

{% block base %}

<br />
<br />
<section id="hero">
  <h1 class="fuente"><b>Noticias más recientes de la semana</b></h1>
</section>
<br>
<div id="wowslider-container1">
  <div class="ws_images">
    <ul>
      {% for x in key %}
      <li class="image-container">
        <img
          src="{% static x.imagen %}"
          class="image-item"
          alt="pagina"
          title="@{{ x.pagina }}"
          id="{{ x.id }}"
        />{{ x.descripcion }}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="ws_bullets">
    <div>
      <a href="#" title="pagina"><span>1</span></a>
      <a href="#" title="pagina"><span>2</span></a>
      <a href="#" title="pagina"><span>3</span></a>
      <a href="#" title="pagina"><span>4</span></a>
    </div>
  </div>
  <div class="ws_shadow"></div>
</div>
<script
  type="text/javascript"
  src="{% static 'engine1/wowslider.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'engine1/script.js' %}"
></script>
<br />
<br />
<center>
  <section>
    <section id="Iniciativas-Estudiantiles">
      <h2 class="fuente"><b>Iniciativas Estudiantiles</b></h2>
      <div class="fotos">
        <div class="row"></div>
      </div>
    </section>
  </section>
</center>
<div>
  <center>
    <div class="columns">
      <div class="item">
        <div class="carta">
          <h3>Fablab</h3>
          <background>
            <center>
              <img
                src="{%static 'icons/fablab.jpg' %}"
                width="250px"
                height="250px"
              />
            </center>
          </background>
          <a href="../fablab_utfsm">
            <button>Más Informacion</button>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="carta">
          <h3>GeekUSM</h3>
          <background>
            <center>
              <img
                src="{%static 'icons/geekusm.jpg' %}"
                width="250px"
                height="250px"
              />
            </center>
          </background>
          <a href="../geekusm">
            <button>Más Informacion</button>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="carta">
          <h3>Primos</h3>
          <background>
            <center>
              <img
                src="{%static 'icons/primos.jpg' %}"
                width="250px"
                height="250px"
              />
            </center>
          </background>
          <a href="../primos_usmsj">
            <button>Más Informacion</button>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="carta">
          <h3>GBU</h3>
          <background>
            <center>
              <img
                src="{%static 'icons/gbu.jpg' %}"
                width="250px"
                height="250px"
              />
            </center>
          </background>
          <a href="../gbu_usm">
            <button>Más Informacion</button>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="carta">
          <h3>Movimiento 0</h3>
          <background>
            <center>
              <img
                src="{%static 'icons/movimiento0.jpg' %}"
                width="250px"
                height="250px"
              />
            </center>
          </background>
          <a href="../movimiento.0">
            <button>Más Informacion</button>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="carta">
          <h3>CEEINF</h3>
          <background>
            <center>
              <img
                src="{%static 'icons/ceinf.jpg' %}"
                width="250px"
                height="250px"
              />
            </center>
          </background>
          <a href="../ceeinf_sj">
            <button>Más Informacion</button>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="carta">
          <h3>Rocket Science USM</h3>
          <background>
            <center>
              <img
                src="{%static 'icons/urst.jpg' %}"
                width="250px"
                height="250px"
              />
            </center>
          </background>
          <a href="../rocketscience_usm">
            <button>Más Informacion</button>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="carta">
          <h3>CUBESEAT TEAM</h3>
          <background>
            <center>
              <img
                src="{%static 'icons/usmcube.jpg' %}"
                width="250px"
                height="250px"
              />
            </center>
          </background>
          <a href="../usm.cubesat.team">
            <button>Más Informacion</button>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="carta">
          <h3>XUMBRA UTFSM</h3>
          <background>
            <center>
              <img
                src="{%static 'icons/xumbra.jpg' %}"
                width="250px"
                height="250px"
              />
            </center>
          </background>
          <a href="../xumbra_utfsm">
            <button>Más Informacion</button>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="carta">
          <h3>YO TE CUIDO</h3>
          <background>
            <center>
              <img
                src="{%static 'icons/yotecuido.jpg' %}"
                width="250px"
                height="250px"
              />
            </center>
          </background>
          <a href="../yotecuidousm">
            <button>Más Informacion</button>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="carta">
          <h3>ERGON</h3>
          <background>
            <center>
              <img
                src="{%static 'icons/ergon.jpg' %}"
                width="250px"
                height="250px"
              />
            </center>
          </background>
          <a href="../regon_usm">
            <button>Más Informacion</button>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="carta">
          <h3>SANSANEWS</h3>
          <background>
            <center>
              <img
                src="{%static 'icons/sansanews.png' %}"
                width="250px"
                height="250px"
              />
            </center>
          </background>
          <a href="../sensanews">
            <button>Más Informacion</button>
          </a>
        </div>
      </div>
    </div>
  </center>
</div>

{% endblock base %}
