{% extends 'Molde.html' %}
{% load static %}
{% block content %}
<background>
  <center>
      <img src="{%static 'icons/urst.jpg' %}"width="300" height="300">
  </center>
</background
<div class="card-body" style="color: #d2d7da">
  <h4 class="card-title"><a href="https://www.instagram.com/rocketscience_usm/" target="_blank">Rocket Science USM</a></h4>
  <p class="card-text">Iniciativa estudiantil de estudio de las ciencias aeroespaciales
    Universidad Técnica Federico Santa María
    Campus Santiago San Joaquín</p>
</div>
{% endblock %}
  