{% extends 'Molde.html' %}
{% load static %}
{% block content %}
<background>
    <center>
        <img src="{%static 'icons/sansanews.png' %}"width="300" height="300">
  </center>
</background>
<div class="card-body" style="color: #d2d7da">
    <h4 class="card-title"><a href="https://www.instagram.com/sansanews/" target="_blank">SansaNews</a></h4>
    <p class="card-text">Proyecto del ramo introducción a la ingeniería.
        Está página se usará exclusivamente para pruebas de la app web que estamos desarrollando como grupo.</p>
</div>
{% endblock %}