{% extends 'Molde.html' %}
{% load static %}
{% block content %}
<background>
  <center>
      <img src="{%static 'icons/usmcube.jpg' %}"width="300" height="300">
  </center>
</background>
<div class="card-body" style="color: #d2d7da">
  <h4 class="card-title"><a href="https://www.instagram.com/usm.cubesat.team/" target="_blank">USM Cubesat Team</a></h4>
  <p class="card-text">USM CUBESAT TEAM
    🏆SPACE TEAMS WORLD RANKING BRAINSTORMS🏅
    Luchamos por la visión, el descubrimiento, y por sobre todo, el conocimiento.
    🛰 ¡Súbete a nuestra Aventura! 💫📡
    www.linkedin.com/mwlite/company/usmcubesatteam</p>
</div>
{% endblock %}  