{% extends 'Molde.html' %}
{% load static %}
{% block content %}
<background>
  <center>
      <img src="{%static 'icons/xumbra.jpg' %}"width="300" height="300">
  </center>
</background>
<div class="card-body" style="color: #d2d7da">
  <h4 class="card-title"><a href="https://www.instagram.com/xumbra_utfsm/" target="_blank">Xumbra UTFSM</a></h4>
  <p class="card-text">Equipo con el objetivo de crear el primer vehículo Fórmula SAE en la UTFSM🏆
    Síguenos y sé parte de este proyecto!
    Chile 🇨🇱</p>
</div>
{% endblock %}
  