{% extends 'Molde.html' %}
{% load static %}
{% block content %}
<background>
  <center>
      <img src="{%static 'icons/yotecuido.jpg' %}"width="300" height="300">
  </center>
</background>
<div class="card-body" style="color: #d2d7da">
  <h4 class="card-title"><a href="https://www.instagram.com/yotecuidousm/" target="_blank">Yo Te Cuido</a></h4>
  <p class="card-text">Iniciativa estudiantil y ONG que fomenta la #tenenciaresponsable y vela por el cuidado de los perros y gatos de nuestra comunidad universitaria.
  linktr.ee/yotecuido</p>
</div>
{% endblock %}
  